[Desktop Entry]
Name=pgAdmin III
Comment=PostgreSQL frontend
Comment[pl]=Narzêdzie do PostgreSQL
Exec=pgadmin3
Icon=pgadmin3
Terminal=false
Type=Application
Categories=Office;Database;
DocPath=/usr/share/pgadmin3/docs/en_US/index.html
# vi: encoding=utf-8
